

//colors


$myYellow: #fcc50f;

$myLightYellow: #feda65;

$myDarkBlue: #333e6f;

$myLightGray: #e8d7e3;

$myOrange: #f44d1a;

$myLightOrange: #f18b6c;



$myBlack: #121212;

$myWhite: #f7f7f7;

$shadowColor: rgba(0, 0, 0, 0.18);




