@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "aglet-slab-variable", sans-serif;
	font-variation-settings: "wght" 400;
	font-size: 16px;
}

#first {
	position: relative;
	width: auto;
	height: 100vh;
	background: url("images/flower_1920.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#first h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 1px rgba(140,32,83,0.7);
}

#first p {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	color: white;
	background-color: #8C2053;
}

#second {
	position: relative;
	width: auto;
	height: 40vh;
	background-color: #8C2053;
}

.square {
	width: 0px;
	height: 10px;
	background: white;
}

.content {
	position: relative;
	top: 200px;
	display: none;
	box-sizing: content-box;
	padding: 30px;
	color: white;
}

.content h2 {
	padding: 10px;
	font-size: 2em;
	border-left: #42182E solid 5px;
	border-bottom: #42182E solid 10px;
}

.content p {
	margin: 10px;
	text-indent: 20px;
}

footer {
	float: right;
}

#peeka {
	position: absolute;
	right: 0px;
	width: 100%;
	height: 20px;
	padding: 10px;
	text-align: right;
	background: #3E3E1A;
	color: white;
	z-index: 2;
}

#boo {
	position: absolute;
	right: 0px;
	width: 100px;
	height: 20px;
	padding: 10px;
	text-align: right;
	font-weight: bold;
	background: #D87262;
	color: #8C2053;
	z-index: 1;
}

@media screen and (max-width: 1200px) {
	#first h1 {
		top: 10%;
		font-size: 4em;
	}
	
	#first p {
		top: 25%;
		padding: 30px;
	}
	
	#second {
	height: 50vh;
}
}

@media screen and (max-width: 900px) {
	#first h1 {
		font-size: 4em;
	}
	
	#first p {
		width: 500px;
	}
	
	#second {
	height: 60vh;
}
}

@media screen and (max-width: 780px) {
	#first h1 {
		font-size: 3em;
	}
	
	#first p {
		padding: 20px;
	}
	
	#second {
	height: 65vh;
}
}

@media screen and (max-width: 590px) {
	#first h1 {
		top: 15%;
		font-size: 2.5em;
	}
	
	#first p {
		width: 85%;
		top: 30%;
	}
	
	#second {
	height: 150vh;
}
}

@media screen and (max-width: 400px) {
	#first h1 {
		top: 10%;
		font-size: 2em;
		text-shadow: 2px 2px 1px rgba(140,32,83,0.7);
	}
}